.container
  .hero-unit
    %h1= text_for :main_title 
    %p= text_for :main_body
    %p
      %a.btn.primary.large Learn more »
  .row
    .span5
      %h2= text_for :heading_1
      %p= text_for :body_1 
      %p
        %a.btn{:href => "#"} View details »
    .span6
      %h2= text_for :heading_2
      %p= text_for :body_2 
      %p
        %a.btn{:href => "#"} View details »
    .span5
      %h2= text_for :heading_3
      %p= text_for :body_3
      %p
        %a.btn{:href => "#"} View details »        

%footer.footer
  .container
    %p.pull-right
      %a{:href => "#"} Back to top
    %p
      Developed by
      %a{:href => "http://twitter.com/brousalis", :target => "_blank"} @brousalis
      and
      %a{:href => "http://twitter.com/davidpick", :target => "_blank"} @davidpick
