.container#login
  %section
    .page-header
      %h1
        Login
        %small Website title
    .content
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %fieldset
          .clearfix
            = f.label :email
            .input
              = f.email_field :email
          .clearfix
            = f.label :password
            .input
              = f.password_field :password
          .clearfix
            .input
              %label
                = f.check_box :remember_me
                %span Remember me?
        .actions
          %button.btn.large.primary{:type => "submit"}> Login
          \ 
          %button.btn.large{:type => "reset"} Cancel

