%html
  %head
    %title CMS
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
  = javascript_include_tag :all
  = javascript_include_tag "jquery.jeditable.mini.js"
  = stylesheet_link_tag :all
  = csrf_meta_tag

= yield
