!!!5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    %title PRS Dialysis
    = stylesheet_link_tag :all

    = csrf_meta_tag
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/

    %script{:src => "http://use.typekit.com/dnd0nfy.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    - if flash[:notice]
      %div{:class => 'alert-message warning data-alert'}
        %a{:href => '#', :class => 'close'}='x'
        = flash[:notice]

    .topbar
      .topbar-inner
        .container
          %a.brand.transition{:href => "/"}
            %strong PRS
            Dialysis
          %ul.nav
            %li
              %a.transition{:href => "/about/us"} About Us  
            %li
              %a.transition{:href => "/products"} Products and Services
            %li
              %a.transition{:href => "/partners"} Partner With Us
            %li.dropdown{"data-dropdown" => "dropdown"}
              %a.dropdown-toggle.transition{:href => "#"} Resources
              %ul.dropdown-menu
                %li
                  %a.transition{:href => "patients"} For Patients
                %li
                  %a.transition{:href => "professionals"} For Professionals
            %li
              %a.transition{:href => "/faqs"} FAQs
            %li
              %a.transition{:href => "/contact"} Contact Us
    
    = yield

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
    = javascript_include_tag :all
    = javascript_include_tag "jquery.jeditable.mini.js"
    = javascript_include_tag "bootstrap.js"
